.timelapse-button {
  border: none;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  font-size: .9rem;
  color: #404040;
}

.year-button {
  border: none;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  font-size: .9rem;
  color: #404040;
}

@media (max-width: 1400px) {
  .timelapse-button {
    font-size: 0;
  }
}